<h1>Edit Student</h1>
<br>
<%= render 'form' %>
<br>
<%= button_to "Delete Student", @student, method: :delete %>
<br><br>
<%= link_to 'Back to home page', root_path %><br>
<%= link_to 'Back to profile page', @user %>