<h1><%= @user.title %> <%= @user.last_name %>'s Classrooms</h1>


<%= link_to 'Create a new classroom', new_user_classroom_path(@user) %>

<p>Classrooms:</p>
<% @user.classrooms.each do |classroom| %>
	<div><%= classroom.subject %></div>
<% end %>